<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css"/>
</head>

<body>
<header class="header">
    <img src="./images/location.png" class="header__image" alt="an image of a map and location">
    <h1 class="header__title">GeoTagApp</h1>
    <nav class="header__navigation">
        <a href="https://youtu.be/61QA7fjepZ4?t=24">About</a> | <a href="/">Help</a> | <a href="/">Home</a>
    </nav>
</header>

<main class="main row">
    <section class="main__tagging tagging col-3">
        <h2 class="title">Tagging</h2>

        <form id="tag-form" action="/tagging" method="post">

            <fieldset class="fieldset" id="tagFormFieldset">
                <legend id="legendTag">Add a new Geo Tag:</legend>

                <label for="tagFormLatitude">Latitude:</label>
                <input type="text" id="tagFormLatitude" class="userInput" name="formLatitude" value="<%= ejs_latitude%>" readonly>

                <label for="tagFormLongitude">Longitude:</label>
                <input type="text" id="tagFormLongitude" class="userInput" name="formLongitude" value="<%= ejs_longitude%>" readonly>

                <label for="tagFormName">Name:</label>
                <input type="text" id="tagFormName" class="userInput" name="formName" pattern="[a-zA-Z]+" maxlength="10" required="required" placeholder="e.g. Berlin">

                <label for="tagFormHashtag">Hashtag:</label>
                <input type="text" id="tagFormHashtag" class="userInput" name="formHashtag" pattern="#[a-zA-Z]+|#" maxlength="11" placeholder="e.g. #ber">
                                                                                                        <!-- maxlength auf 11 wegen dem Hashtag -->

                <input type="button" id="tagFormSubmitButton" class="userInput submit" name="formSubmitButton" value="Add Tag">
            </fieldset>

        </form>

    </section>

    <section class="main__discovery discovery col-9">
        <h2 class="title">Discovery</h2>
        <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post" onsubmit="event.preventDefault();">

            <fieldset class="fieldset" id="disFormFieldset">
                <legend>Search:</legend>
                <div class="col-4">
                    <label for="disFormSearch">Search term or keywords:</label>
                    <input type="text" id="disFormSearch" class="userInput" name="formSearch" pattern="#?[a-zA-Z]+" maxlength="10" placeholder="e.g. Berlin">

                    <!-- Die zwei Eingaben sind versteckt -->
                    <input type="hidden" id="disFormLatitude" name="formLatitude" required="required" value="<%= ejs_latitude%>">
                    <input type="hidden" id="disFormLongitude" name="formLongitude" required="required" value="<%= ejs_longitude%>">

                    <input type="button" id="disFormSubmitButton" class="userInput submit" name="formSubmitButton" value="Search">
                </div>
            </fieldset>

        </form>

        <div class="discovery__wrapper row">
            <div class="discovery__taglist col-4">
                <ul class="discovery__results" id="discoveryResults">
                        <% if (ejs_taglist !== undefined) ejs_taglist.forEach(function(gtag) { %>
                               <li class="listElement"><%= gtag.name %> <br> (<%= gtag.latitude %>, <%= gtag.longitude %>) <br> <%= gtag.hashtag %> </li>
                        <% }); %>
                </ul>
                <nav class="pagination-container">
                    <button class="pagination-button" id="prev-button" title="Previous page">
                        &lt;
                    </button>
                    <button class="pagination-button" id="next-button" title="Next page">
                        &gt;
                    </button>
                </nav>
            </div>

            <div class="discovery__map col-8">
                <img src="./images/mapview.jpg" class="col-12" alt="a map with locations" id="mapView" data-tags="<%= json_taglist%>"/>
                <span>Result map</span>
            </div>
        </div>
    </section>

</main>

<footer class="footer">
    <span>(c) 2021/22 HKA_IWI_VSYS</span>
</footer>
<script src="./javascripts/geotagging.js"></script>
<script src="./javascripts/location-helper.js"></script>
<script src="./javascripts/map-manager.js"></script>
</body>

</html>